html {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: darkslategrey;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 0 1rem 0;
	padding: 20px 3px;
	border-radius: 3px;
	background-color: azure;
	z-index: 1;
	display: flex;
	justify-content: left;
	align-items: center;
}

label {
	font-size: 20px;
	-webkit-text-stroke: 0.8px black;
	-webkit-text-fill-color: black;
}

select {
	background-color: dodgerblue;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 5px 15px;
	font-size: 16px;
}

button {
	border: none;
	border-radius: 3px;
	padding: 7px 15px;
	text-align: center;
	font-size: 16px;
}

.get-quote {
	background-color: #4caf50; /* Green */
	color: white;
}

.favorites-button {
	background-color: coral;
	margin-left: 0.3rem;
}

.favorites {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

/* main {
	position: relative;
	height: 100vh;
	left: 0;
	top: 2rem;
} */

h1 {
	font-size: 5rem;
	text-align: center;
	margin: 2rem;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

h3 {
	font-size: 2.5rem;
	text-align: center;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

h4 {
	margin: 10% auto;
	font-size: 1.8rem;
	text-align: center;
}

.content {
	margin: 0 auto;
	width: 75%;
	padding: 0.5rem;
	min-height: 25%;
	height: auto;
	background-color: floralwhite;
	border-radius: 5px;
	color: black;
	opacity: 0.8;
	font-size: 1.5rem;
}

.content > p {
	margin: 10% auto;
}

.content > cite {
	font-size: 1rem;
}

.quote {
	width: 100%;
	height: auto;
}

blockquote {
	text-align: center;
}

cite {
	margin-left: 53%;
}

#flash {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.alert {
	text-align: center;
	position: relative;
}

.danger {
	background-color: crimson;
	color: white;
	width: 50%;
	height: auto;
	margin: 10% auto;
	padding: 1rem;
	border-radius: 3px;
}

.close {
	background: none;
	position: absolute;
	top: 0;
	left: 3px;
	padding: 0;
}

@media only screen and (max-width: 400px) {
	label {
		display: block;
		width: 100%;
		text-align: center;
	}

	main {
		top: 7rem;
	}

	h1 {
		font-size: 3rem;
	}

	h3 {
		font-size: 1.2rem;
	}
	.content > p {
		font-size: 0.9rem;
	}
	.content > cite {
		font-size: 0.8rem;
	}

	.favorites-button {
		margin-left: 0;
	}
}
