html,
body {
	height: 100vh;
	width: 100vw;
	background-color: darkslategrey;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 12px;
	border-radius: 3px;
	background-color: azure;
}

.navlist,
.navlist {
	display: flex;
	justify-content: left;
	align-items: center;
}

button {
	background-color: #4caf50; /* Green */
	border: none;
	border-radius: 3px;
	color: white;
	padding: 7px 15px;
	text-align: center;
	font-size: 16px;
}

main {
	position: relative;
	height: 100%;
	left: 0;
	top: 2rem;
}

h1 {
	font-size: 5rem;
	text-align: center;
	margin-bottom: 1rem;
}

h3 {
	font-size: 2rem;
	text-align: center;
}

.content {
	margin: 0 auto;
	width: 75%;
	padding: 0.5rem;
	height: auto;
	background-color: floralwhite;
	border-radius: 5px;
}

blockquote {
	text-align: center;
}

cite {
	margin-left: 53%;
}
