<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Categorical Quotations{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body style="background-image: url({{ quote.background }});">

<!-- Navbar  -->

<nav class="navbar">
      <form action="/quotes" method="get" class="quote-form">
        <label for="category-select">Categories:</label>
        <select name="category" id="category-select">
            <option value="">Quote of the day</option>
            <option value="inspire">Inspiration</option>
            <option value="management">Management</option>
            <option value="sports">Sports</option>
            <option value="life">Life</option>
            <option value="funny">Humor</option>
            <option value="love">Love</option>
            <option value="art">Art</option>
            <option value="students">Students</option>
        </select>
        <button type="submit" class="get-quote">Get Quote</button>
        <button class="favorites-button">
          <a href="/favorites" class="favorites">Favorites</a>
        </button>
      </form>
</nav>

<!-- End Navbar -->

<!-- Main Content -->
<!-- <main> -->
    {% block content %}
    {% endblock %}

    <!-- Flashed Messages -->
    {% if get_flashed_messages() %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div id="flash" class="container mt-4">
        <div class="alert alert-{{category}} text-center rounded w-25 mx-auto" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <!-- End Flashed Messages -->

<!-- </main> -->
<!-- End Main -->

<!-- Load JavaScript!! -->

</body>
</html>