{% extends 'base.html' %} 


{% block content %}

<!-- # quote = {quote/author/category/id/background/title} -->

<h1>Categorical Quotations</h1>

{% if quote.message %}

<div class="content">
    <h4> {{ quote.message }} </h4>
</div>

{% else  %}

<h3>{{ quote.title }}</h3>

<section  class="quote">

    <blockquote id="{{ quote.id }}" class="content">
        <p>
            <b>"</b>
            {{ quote.quote }}
            <b>"</b>
        </p>
        <cite> 
            <b>-</b>
            {{ quote.author }}
        </cite>
    </blockquote>

</section>


{% endif %}


{% endblock %}