{% extends 'base.html' %} 


{% block content %}

<h3>Quote of the day</h3>

{% if quote.id %}

<section class="quote">
    <blockquote id="{{ quote.id }}" class="content">
        <p>"{{ quote.quote }}"</p>
        <cite>-{{ quote.author }}</cite>
    </blockquote>
</section>

<div class="btn-container">    
    <button 
    data-id="{{ quote.id }}"
    data-quote="{{ quote.quote }}"
    data-author="{{ quote.author }}" 
    data-title="{{ quote.title }}"
    data-category="{{ quote.category }}"
    data-background="{{ quote.background }}"
    class="favorite">
    Add to favorites
    </button>
</div>

{% else %}

<section class="content">
    <p>
        <blockquote>
            "Nothing is trivial"
        </blockquote>
    </p>
    <cite>
        - Brandon Lee
    </cite>
</section>

{% endif %}


{% endblock %}