{% extends 'base.html' %} 


{% block content %}

<h1>Categorical Quotations</h1>


<h3>Quote of the day</h3>

{% if quote.contents %}

<blockquote class="content">
    <b>"</b>
    {{ quote.contents.quotes[0].quote }}
    <b>"</b>
</blockquote>
<cite> 
    <b>-</b>
    {{ quote.contents.quotes[0].author }}
</cite>

{% else %}

<section class="content">
    <blockquote>
        <b>"</b>
        Nothing is trivial
        <b>"</b>
    </blockquote>
    <cite>
        <b>-</b>
        Brandon Lee
    </cite>
</section>

{% endif %}


{% endblock %}